<h1>New note</h1>

<form method="post" action="/notes/new">
  Title: <input type="text" name="title"></input><br>
  Content: <textarea name="content" rows="4" cols="50" placeholder="Note..."></textarea><br>
  <input type="submit" value="Create New Note">
</form>


<a href="/notes">Back to notes</a>
